<router-outlet></router-outlet>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-85 p-b-20">

            <form class="form-login" method="post">
                <fieldset>
                    <div class="wrap-input100 validate-input m-t-85 m-b-35">
                        <span class="input100">
                            <input type="text" class="input100" name="username" placeholder="Correo">
                            <i class="fa fa-user"></i> </span>
                    </div>
                    <div class="wrap-input100 validate-input m-t-85 m-b-35">
                        <span class="input100">
                            <input type="password" class="input100" name="password" placeholder="contraseña">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button type="button" class="login100-form-btn" routerLink="/DashboardComprador">
                            Iniciar sesion  <i class="fa fa-arrow-circle-right"></i>
                        </button>
                    </div>
                    <li class="m-b-8">
                        <br>
                        <br>
                        <span class="txt1">
                            Olvide mi contraseña
                        </span>
                        <a href="" class="txt2">
                            Contraseña Nueva
                        </a>
                    </li>
                </fieldset>
            </form>
        </div>
    </div>
</div>
